.section{text-align: center; overflow: hidden;}
.section h2{
	font-size:60px;
	font-family: 'Indie Flower', cursive;
	position:absolute;
	top:5%; left:50%;
	transform: translate(-50%, -5%);
}
h3{font-size:36px;}
body{font-size:18px;}

/* menu style */
#menu li {
	display:inline-block;
	margin: 10px;
	color: #000;
	/* background:#fff;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 10px;
            border-radius: 10px; */
}
#menu li.active{
	/* background:#666;
	background: rgba(0,0,0, 0.5);
	color: #fff; */
}
#menu li a{
	text-decoration:none;
	color: #000;
	font-family: 'Jua', sans-serif;
	font-size:20px;
}
/* #menu li.active a:hover{
	color: #000;
} */
#menu li a:hover{
	color:rgba(255,255,255, 0.8);
	/* background: rgba(255,255,255, 0.8); */
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}
#menu li.active a{
	color: #fff;
}
#menu{
	position:fixed;
	top:0;
	right:0;
	z-index: 70;
	/* width: 100%; */
	padding: 0;
	margin:0;
}


/* main page style */
#airplane{
	width:100%;
	height:100%;
	background:url("../images/airplane.png")no-repeat center center;
}
#main-box{position: relative;}
.parallax{width:500px; height: 400px; z-index: 99; position:absolute; top:50%; left:50%; transform: translate(-50%, -50%);}
.par {
    position: absolute;
	/* transform: translate(-50%, -50%); */
  }
.cloud-box{position:absolute; width:100%; height: 100%; top:0;}

#clouds{
	position:absolute; opacity: 0.7;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
	background-position: 0 0;
	background-repeat: no-repeat;
}
@keyframes cloud-mv01{
    0%{transform:translate(0px,0px);}
    50%{transform:translate(0px,50px);}
    1000%{transform:translate(0px,-50px);}
}
@keyframes cloud-mv02{
    0%{transform:translate(0px,0px);}
    50%{transform:translate(0px,-50px);}
    1000%{transform:translate(0px,50px);}
}

.cloud01{
	top:5%; left:2%;
	width:263px;
	height:175px;
	background:url("../images/cloud01.png");
	animation: cloud-mv01 7s;
}
.cloud02{
	top:16%; left:28%;
	width:160px;
	height:99px;
	background:url("../images/cloud02.png");
	animation: cloud-mv02 8s;
}
.cloud03{
	top:10%; right:28%;
	width: 212px;
	height:128px;
	background:url("../images/cloud03.png");
	animation: cloud-mv01 9s;
}
.cloud04{
	top:19%; right:5%;
	width: 263px;
	height:175px;
	background:url("../images/cloud01.png");
	animation: cloud-mv02 10s;
}
.cloud05{
	top:42%; left:5%;
	width: 333px;
	height:194px;
	background:url("../images/cloud05.png");
	animation: cloud-mv02 6s;
}
.cloud06{
	top:47%; right:9%;
	width: 333px;
	height:193px;
	background:url("../images/cloud05.png");
	animation: cloud-mv01 7s;
}

.cloud07{
	bottom:13%; left:18%;
	width: 260px;
	height:177px;
	background:url("../images/cloud07.png");
	animation: cloud-mv02 8s;
}
.cloud08{
	bottom:10%; right:30%;
	width: 180px;
	height:116px;
	background:url("../images/cloud08.png");
	animation: cloud-mv01 9s;
}
.cloud09{
	bottom:3%; left:-8%;
	width: 250px;
	height:164px;
	background:url("../images/cloud09.png");
	animation: cloud-mv01 10s;
}
.cloud10{
	bottom:6%; right:-5%;
	width: 250px;
	height:164px;
	background:url("../images/cloud09.png");
	animation: cloud-mv02 12s;
}

#welcome {
	position:absolute;
	top:10%; left:50%;
	transform: translate(-50%, -10%);
	z-index: 100;
	color: #fff;
	height: auto;
	width:100%;
	text-align: center;
	text-shadow: 1px 1px #848484;
}
#typeStyle{font-size:70px;}
#typeBox>p{font-size:28px;}
.scroll{position:absolute; text-align: center; bottom:1%; left:50%; transform: translate(-50%, -1%);}
.scroll>a{display:block; width:35px; margin:0 auto; animation:air-scroll 1.5s infinite ease; height: 50px; background:url("../images/scroll.png")no-repeat 0 0}
.scroll:hover{color:#fff;}
.scroll>span{font-size:14px;}

@keyframes air-scroll{
    0%{transform:translate(0px,0px);}
    50%{transform:translate(0px,15px);}
    1000%{transform:translate(0px,30px);}
}

/* About page style */
#Contents{
	width:80%; height: 65%;
	margin:0 auto;
	background:rgba(255,255,255, 0.8);
	border-radius: 100px;
	overflow: hidden;
	position: relative;
	z-index: 10;
	margin-top:45px;
}
/* #Contents>div{widtH:100%; height: 100%; background:url(../images/ticket.png)no-repeat 50% 50%; opacity: 0.9;} */
#Contents>div{width:100%; margin:0 auto; height: 100%; display:flex; align-items: center; justify-content: space-between;}
#Contents>div>div h3{position:relative; text-shadow: 2px 2px #848484;}
#Contents>div>div h3:after{
	position:absolute;
	bottom:0; right:0;
	content: '';
	width:100%; height: 2px;
	background:black;
}
#Contents>div>div ul{margin-top:25px;}
#Contents>div>div ul>li{margin-bottom:3%;}
.con-left{width:50%; display:flex; justify-content: space-between;}
.con-left>div:nth-child(1){width:55%; margin:0 auto; border-radius: 50%; overflow: hidden;}
.con-left>div:nth-child(1)>img{
	width:100%; height:100%;
	object-fit: cover;
	transition: .5s;
}
.con-left>div:nth-child(1):hover{border: #43DCFF 5px solid;}
.con-left>div:nth-child(1):hover img{transform: scale(1.1);}

#PROFILE{margin:auto 0;}
#PROFILE>ul>li{ font-size:20px; text-align: left;}

.con-right{
	width:48%; margin:auto 0;
	display:flex;
	flex-direction: column;
	justify-content: center;
	background:url(../images/about-back.png)no-repeat center center;
}
.con-right>div{width:80%; margin:0 auto;}
.con-right>div>ul>li{display:flex; justify-content: space-between;}
#combat{width:100%; height: 100%; position: absolute; top:0;}
#combat>li{position: absolute;}
#combat>li:first-child{
	top:3%; left:0;
	width:100%; height: 30px;
	background:url("../images/combat-01.png")no-repeat 0 0;
	animation: combat-01 6s infinite ease-out;
}
@keyframes combat-01{
    0%{transform:translateX(-10%);}
    100%{transform:translateX(100%);}
}
#combat>li:last-child{
	bottom:8%; right:0; 
	width:100%; height: 25px;
	background:url("../images/combat-02.png")no-repeat 0 0;
	animation: combat-02 10s infinite linear;
}
@keyframes combat-02{
    0%{transform:translateX(100%);}
    100%{transform:translateX(-10%);}
}

/* SKILL page style */
#SKILL>div>div{
	width:60%; height: 65%;
	margin:0 auto;
	margin-top:45px;
}

.chart{position: relative;}
.chart>span.title{
	position: absolute;
	top:50%; left:50%;
	transform: translate(-50%, -50%);
	font-size:48px;
	color:#fff;
}
/* tab menu style */
#tab{
	display:flex;
	justify-content: space-around;
	height: 100%;
	align-items: center;
	position: relative;
}
#tab input{display:none;}
#tab input#html~div:nth-of-type(1){display:none;}
#tab input#html:checked~div:nth-of-type(1){display:block;}
#tab input#css~div:nth-of-type(2){display:none;}
#tab input#css:checked~div:nth-of-type(2){display:block;}
#tab input#js~div:nth-of-type(3){display:none;}
#tab input#js:checked~div:nth-of-type(3){display:block;}
#tab input#ps~div:nth-of-type(4){display:none;}
#tab input#ps:checked~div:nth-of-type(4){display:block;}
#tab input#ai~div:nth-of-type(5){display:none;}
#tab input#ai:checked~div:nth-of-type(5){display:block;}

/* tab menu style */

#tab input#html:checked~#button>label:nth-of-type(1) img,
#tab input#css:checked~#button>label:nth-of-type(2) img,
#tab input#js:checked~#button>label:nth-of-type(3) img,
#tab input#ps:checked~#button>label:nth-of-type(4) img,
#tab input#ai:checked~#button>label:nth-of-type(5) img{
	transform: scale(1.6);
}

.chart-list{width:50%; height: 80%; margin:auto 0;}
.chart-list>ul{ height: 100%; display:flex; justify-content: space-around; flex-direction: column;}
.chart-list>ul>li>h4{font-size:38px;}

#button{display:flex; flex-direction: column; height: 100%; justify-content: space-around;}
#button>label{
	width:80px; height:80px;
	cursor:pointer;
}
#button>label>img{width:100%; height:100%;	transition: .5s;}

#click{position: absolute; top:50%; left:0;
	transform: translateY(-50%);
	color:rgba(255,255,255, 0.8);
}
#click>span{text-shadow: 1px 1px #ccc;}
/* CONTACT page style */
.contact-text{
	width:80%;
	margin:0 auto;
	position: relative;
	color:#fff;

}
.contact-text>div{
	width:100%;
}
.contact-text>div>div:nth-child(2){
	width:60%; margin:0 auto;
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.contact-text>div h3{
	text-shadow: 1px 1px #848484;
	font-size: 42px;
	font-weight: 400;
}
.contact-text>div p>span{
	font-size: 20px;
	text-shadow: 1px 1px #848484;
}

.box-air{width:100%; height:50px; display:flex;}
.box-air>p{width:100%; height: 100%; position: relative;}
.box-air>p:after{
	position: absolute;
	top:50%; left:0;
	content: '';
	width:100%; height: 1px;
	background: rgba(255,255,255, 0.5);
}
.text-air{
	display:block;
	width:50px;
	height: 100%;
}
.text-air01{background:url("../images/air2.png")no-repeat center center;}
.text-air02{background:url("../images/air.png")no-repeat center center;}
.contact-text>div>div>ul.info{
	width:80%;
	margin:0 auto;
	display:flex;
	justify-content: space-evenly;}
.info>li{font-size:20px; cursor: pointer;}
.info>li:hover p{animation:contact-mv 1s infinite ease;}
@keyframes contact-mv{
    0%{transform:translate(0px,0px);}
    50%{transform:translate(0px,-7.5px);}
    1000%{transform:translate(0px,-15px);}
}
.info>li>p{
	width:45px;
	height: 45px;
	margin:0 auto;
	position:relative;
	background:rgba(255,255,255, 0.9);
	border-radius: 50%;
	margin-bottom: 5px;
}

.info>li>p:after{
	position:absolute;
	content: '';
	top:0; left:0;
	widtH:100%; height: 100%;
}
.info>li:first-child>p:after{background:url(../images/TEL.png)no-repeat center center}
.info>li:nth-child(2)>p:after{background:url(../images/mail.png)no-repeat center center}
.info>li:nth-child(3)>p:after{background:url(../images/talk.png)no-repeat center center}


footer{
	position:absolute;
	bottom:0; left:0;
	width:100%;
	text-align: center;
	background: rgba(255,255,255, 0.15);
	color: #fff;
	font-size: 16px;
	padding:50px 0;
}
footer>div{margin:25px 0;}