@charset "utf-8";
/*��ũ�� ��Ÿ �±׿��� charset�� utf-8�� ��� �־��� ������ CSS ���ϵ� �Ȱ��� �����־�� �մϴ�. 
�̷��� �����ν� �ѱ��� �������� ��µǴ� ���� ���� �� �ֽ��ϴ�.*/


html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,
samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,
td,article,aside,canvas,details,figcaption,figure,footer,header,menu,nav,section,summary,time,mark,audio,
video{margin:0; padding:0;}
/*��� ��ҵ��� �̷��� ���� 0���� �ʱ�ȭ�����־� ��� ���������� ������ �ִ� ������ ������ ����� ����ǵ��� �մϴ�.
��ü ������ *�� ����ϴ� �ͺ��� �̷��� ��ϵ��� �����ϸ� ������ �ö󰩴ϴ�.*/

article,aside,details,figcaption,figure,footer,header,menu,nav,section{display:block;}
/*HTML5�� ���� �߰��� ��ҵ��� ��� ��ҷ� �νĵ��� �ʽ��ϴ�. �� ��ҵ��� �翬�� ����� ��찡 ��κ��̹Ƿ� �װ͵��� �Ѳ����� �����ϴ� ���Դϴ�.*/

li{list-style-type:none;}
/*�� ������Ʈ���� �� �ƴ϶� ���ڰ� �۾��ϴ� ����Ʈ�鿡�� ���� ����Ʈ�� �۸Ӹ� ��ȣ�� ���� �����Ƿ� �� �׸��� �⺻ CSS�� �߰��մϴ�.*/

img,fieldset,iframe{border:0;}
/*IE���� �̹����� ��ũ�� �ɸ� �� �ڵ����� �׵θ��� �����ǹǷ� �װ��� �����ϱ� ���� ����, fieldset���� ���� �׵θ��� �ִ� ��찡 ���� �����Ƿ� ó������
�׵θ��� �����ϱ� ���� ���ϴ�. �׸��� iframe�� �׵θ��� ���� ���� ���̹Ƿ� �Բ� ���ϴ�.*/

img{max-width:100%}
/*width���� %�� �� �̹������� ������ ���� �� ��� ��ʸ� ���߾� �ٵ��� �ϱ� ���� ����ϴµ� ������ ������Ʈ������ �º���� CSS�� �ش��մϴ�.*/

li img,dd img{vertical-align:top;}
/*������ IE6���� li �ӿ� ���� �̹����� dd �ӿ� ���� �̹����� ��ġ �ʴ� ������ �����Ǵ� ������ ������ �߻��ϴ� ��찡 �ִµ� 
�׷� ��� �� ����� �� ������ �����ݴϴ�.*/

input{vertical-align:middle;}
/*���ڿ� ������ �Է� �ڽ��� ��ġ�ϸ� ����̰� ���� �ʴµ� �� ����̸� ���߱� ���� ���ϴ�.*/

hr{display:none;}
/*������ CSS�� �����ϰ� ������ �׽�Ʈ�� �� ���� ���� �־��� �� ���� �����ο� �����Ϸ��� ���� �ƴϹǷ� CSS������ �̷��� ����ϴ�.*/

#skip, .skip{font-size:0; width:0; height:0; line-height:0; position:absolute; left:-9999px;}
/*��Ҹ� �о� �ֱ⸸ �ϰ� ȭ��� ���� �ʿ䰡 ���� ��� ���ִ� �Ӽ��� �����Դϴ�. �� �б⸸ �ϰ� ������ ������ �ұ��?
���� ��� ���������� ������ ���� ���� ���� h2�� �־��µ� �����λ󿡼��� �������� ���Ͽ� ������ ������ �� �˰ڰ� ���̾ӿ�� Ȯ���� ���еǾ�
��Ÿ�� �ʿ䰡 ������, �ð� ��ֿ�鿡�Դ� ������ ���� �״� �о��ֵ��� �ϰ��� �� ���Դϴ�. display:none;�ϸ� ������ ���� �� �ְ�����
�о������� ���ϹǷ�, ���� ũ��� ������ ũ�� ���� ��� 0���� �մϴ�. �׷��� ������ ������ ���� 1px�� ��Ÿ�� �� �����Ƿ� �ƿ� ���̾ƿ�
�ǿ��� ���� ����(absolute) �ָ� ����������(-9999px) ����� ���ϴ� ���Դϴ�.*/
